@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: "Roboto", sans-serif;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

nav {
	background-image: linear-gradient(to right, #1d2956, #111832);
}

.brand {
	font-size: 24px;
	color: #f0a225;
	cursor: pointer;
}

nav ul li a {
	color: white;
	margin: 13px;
}

nav ul li a:hover {
	color: #f0a225;
}

.navbar-toggler {
	border-color: rgba(255,255,255,0.5);
	color: rgba(255,255,255,.5);
}

#home {
	background-image: linear-gradient(to right, #1d2956, #111832);
	color: white;
}

.header-home {
	font-weight: bold;
	line-height: 42px;
	font-size: 50px;
}

.btn-custom {
	border: 2px solid #f0a225;
	background: transparent;
	border-radius: 50px;
	width: 150px;
	height: 40px;
	outline: none;
	padding: 4px;
	color: white;
	letter-spacing: 1px;
	font-size: 18px;
}

.btn-custom:hover {
	background-color: #f0a225;
	transition: 0,6s ease;
	color: white;
}

.text-sobre {
	padding-top: 100px;
}

#solucoes {
	background-image: linear-gradient(to right, #1d2956, #111832);
	padding-top: 25px;
	color: white;
}

.header-solucoes {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 40px;
}

.card-body img {
	width: 150px;
	height: 150px;
}

#contato { 
	padding-top: 40px;
	color: white;
}

footer {
	background-image: linear-gradient(to right, #1d2956, #111832);
	padding: 30px 0 20px 0;
	color: white;
}

footer .contato-footer {
	list-style: none;
	margin-left: -30px;
}

footer i {
	color: white;
}

footer i:hover {
	color: lightgrey;
}

@media (max-width: 575.98px) {
	#home {
		padding: 70px 0px 70px 0px;
	}

	.header-home {
		font-size: 48px;
	}

	#home p{
		font-size: 17px;
	}

	.text-sobre {
		padding: 10px 0px 10px 0px;
	}

	#solucoes {
		padding-bottom: 60px;
	}

	footer h4{
		padding-top: 20px;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) { 
	#home {
		padding: 70px 0px 70px 0px;
	}
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
 }


@media (min-width: 1200px) { 
 }